.cart-widget__container svg{
    fill: #fefefe;
}

.cart-widget-item {
    border-top: 1px solid #e0e0e0;
    padding: 0.75rem;
}

.cart-widget-item .cart-widget-item__image {
    width: 33.33%;
}

.cart-widget-item .cart-widget-item__image img{
    object-fit: contain;
}

.cart-widget-item .cart-widget-item__info {
    width: 100%;
    font-size: 0.875rem;
    padding: 0 0 0 0.75rem;
}

.cart-widget-heading{
    text-align: center;
}

.cart-widget__empty-cart-button{
    text-align: center;
}

.cart-widget__empty {   
    text-align: center;
    padding: 1rem 0;
}

.cart-widget__empty-cart-button button{
    color: #2e2e2e;
}

.cart-widget__go-to-cart{
    padding: 2rem 0;
    text-align: center;
}

.cart-widget__go-to-cart button{
    margin: 0 auto;
}

.cart-widget__go-to-cart button span{
    display: block;
    line-height: normal;
    margin-right: 0.5rem;
}

.cart-widget__empty button {
    background-color: #ffffff !important;
    border: 1px solid #2e2e2e !important;
    color: #2e2e2e !important;
}