.single-product-container {
    padding: 1.5rem 0;
}

.single-product-container__image{
    background-color: #fefefe;
}

.single-product-container__image img{
    border: 1px solid #ddd;
    max-width: 100%;
    height: auto;
    padding: 1.5rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: top;
    display: block;
}

.single-product-container .single-product-container__info{
    padding: 0 2rem;
}

.single-product-container__info-categories{
    display: flex;
}

.single-product-container__info-categories span {
    background-color: #ba3700;
    color: #fefefe;
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    display: block;
}

.single-product-container__info-categories span a{
    color: #fefefe;
}
.single-product-container .card-item__price{
    font-size: 2rem;
    font-weight: 600;
    display: block;
    padding: 1rem 0;
}

.single-product-container .card-item__quantity-button{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.single-product-container .card-item__buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}