.checkout-modal {
    background-color: #fefefe;
    padding: 1rem;
    border-radius: 0.25rem;
}

.checkout-modal h3{
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #cecece;
}

.checkout-form .checkout-form__group > div {
    width: 100%;
    margin-bottom: 0.5rem;
}

.checkout-form .checkout-form__group {
    margin-bottom: 1rem;
}

.order-complete .order-complete__order-number{
    background-color: #dbdada;
    padding: 1rem;
    font-weight: 600;;
}


.checkout-form__group.input-container > div > label{
    color: #2d2d2d;
}

.checkout-form__group.input-container div.Mui-focused *{
    border-color: #2d2d2d;
}

label .checkout-radio-input, 
label .checkout-radio-input.Mui-checked{
    color: #2d2d2d;
}
  
