*, :after, :before {
  box-sizing: border-box;
  border: 0 solid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.App header{
  background-color: #ba3700;
}

.App header a{
    color: #fefefe;
    text-decoration: none;
    font-size: 1.15rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.App header a:hover{
  background-color: #aa3411;
}


.App header ul{
  margin: 0;
  padding: 0;
}

.App header ul li{
  margin: 0 0.25rem;
}

.App-header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*
* navbar actions
*/
.navbar__actions{
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.flex{
  display: flex;
}
.col-1\/2{
  width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
