*, :after, :before {
  box-sizing: border-box;
  border: 0 solid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a{
  text-decoration: none;
  display: block;
}

.App{
  background-color: #f7f7f7;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.App header{
  background-color: #ba3700;
}

.App header .navbar__menu a{
    color: #fefefe;
    text-decoration: none;
    font-size: 1.15rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.navbar__logo{
  display: flex;
justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 100%;
  overflow: hidden;
}

.App header .navbar__menu a:hover{
  background-color: #aa3411;
}


.App header ul{
  margin: 0;
  padding: 0;
}

.App header ul li{
  margin: 0 0.25rem;
}

.App-header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar{
    display: flex;
    justify-content : space-between;
    align-items: center;
    width : 100%;
    padding : 0.75rem 0;
}

/*
* Page content
*/

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.page-content .main-content{
    padding: 1.5rem 0;
}

.heading{
  margin: 0;
  padding: 1rem 0;
  text-decoration: underline;
  text-align: center;
}
/*
* navbar actions
*/
.navbar__actions{
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

/*
* Footer
*/

.App-footer {
  background-color: #353535;
}

.footer__container{
  padding: 0.5rem;
}

.footer__container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container-menu a {
  color: #fefefe;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.footer__container-text{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-size: 0.875rem;
}

.footer__container-text a{
  display: inline;
  color: #fefefe;
}
.footer__container p{
  margin: 0;
}

/*
* Core
*/

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
}

.col-1\/2{
  width: 50%;
}

.col-5\/12{
  width: 40%;
}

.col-7\/12{
  width: 60%;
}

.category-links{
  background-color: #353535;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}

.category-links a {
  color: #fefefe;
  padding: 1rem;
  border-bottom: 4px solid #353535;
}

.category-links a.current-link {
  border-color: #e74b0a;
}

/*
* Loading
*/

.loading__container{
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.loading__container .MuiCircularProgress-root{
   color: #e74b0a;
}

.not-found__container{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
}

/*
* NotProductsFound 
*/

.not-product-found__container {
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
}

/*
* NotAvailable
*/
.not-available__container-content{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
