.card-item__add-to-cart-button{
    display: flex;
    flex-direction: column;
}

.card-item__quantity-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item__added-to-cart-message {
    display: block;
    font-size: 0.85rem;
    text-align: center;
    padding: 0.75rem 0;
    color: #4dd97e;
    font-weight: 600;
}